<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}"></title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{'/css/bootstrap.min.css'}">
    <link rel="stylesheet" th:href="@{'/css/style.css'}">
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>-->
    <link rel="icon" th:href="@{'/images/logo.svg'}" type="image/svg">
    <script th:src="@{'/js/bootstrap.bundle.min.js'}"></script>

    <!--    <link rel="manifest" th:href="@{/js/manifest.json}">-->
    <!--    <script>-->
    <!--        if ('serviceWorker' in navigator) {-->
    <!--            navigator.serviceWorker.register('/js/sw.js');-->
    <!--        }-->
    <!--    </script>-->
</head>