@font-face {
    font-family: Overlock;
    src: url('/fonts/Overlock-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Overlock', sans-serif !important;
    background: #d3cfcf !important;
}

.icon-sm {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.icon-md {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.icon-lg {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.hidden{
    display: none;
}

.error_body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #9b59b6, #8e44ad);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-container {
    text-align: center;
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

.error-container h1 {
    font-size: 90px;
    color: #e74c3c;
    margin-bottom: 20px;
}

.error-container p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.error-container a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    border: 2px solid #3498db;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.error-container a:hover {
    background-color: #3498db;
    color: white;
}

.icon {
    width: 100px;
    height: 100px;
    color: #e74c3c;
    margin-bottom: 20px;
}