<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(~{::title})}">
    <title>Login Page</title>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4 card mx-auto p-3">
            <a th:href="@{/oauth2/authorization/google}" class="btn btn-primary text-light my-2">
                <img th:src="@{'/image/google.svg'}" class="img-fluid icon-sm" alt="google"/>
                <span class="ms-2">Continue with Google</span>
            </a>
        </div>
    </div>
</div>
</body>
</html>
